<!DOCTYPE html>
<html lang="en">
<head>
    <title>DiscoverRewind</title>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="twitter:card"
          content="summary_large_image"/>
    <meta name="twitter:title"
          content="DiscoverRewind"/>
    <meta name="twitter:description"
          content="Today's Spotify Discover Weekly playlist available tomorrow."/>
    <meta name="twitter:image"
          content="https://www.discoverrewind.com/assets/og.png"/>
    <meta name="twitter:creator"
          content="@dmlittle94"/>
    <meta property="og:url"
          content="https://www.discoverrewind.com/"/>
    <meta property="og:title"
          content="DiscoverRewind"/>
    <meta property="og:description"
          content="Today's Spotify Discover Weekly playlist available tomorrow."/>
    <meta property="og:image"
          content="https://www.discoverrewind.com/assets/og.png"/>
    <link rel="icon"
          type="image/x-icon"
          sizes="32x32"
          href="/assets/favicon.ico"/>
    <link rel="stylesheet"
          href="https://rsms.me/inter/inter.css"/>
    <link href="/assets/tailwind.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.min.js"
            defer></script>
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
</head>

<body class="font-sans antialiased bg-gray-900">
{{template "content" .}}
</body>
</html>
